/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Indie Flower', cursive;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.board1 {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightsalmon;
}

.board2 {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightblue;
}

.board3 {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}

.board4 {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightsteelblue;
}

.board5 {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightcoral;
}

.list_details {
  text-align: center;
}

.list_wrapper {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-family: 'Poor Story', cursive;
  flex-wrap: wrap;
}

.list1 {
  background-color: lightseagreen;
  width: 150px;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
}

.list2 {
  background-color: lightcyan;
  width: 150px;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
}

.list3 {
  background-color: lightskyblue;
  width: 150px;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
}

.list4 {
  background-color: lightgoldenrodyellow;
  width: 150px;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
}

.list5 {
  background-color: lightgray;
  width: 150px;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
}

.tas_wrapper {
  display: flex;
  flex-wrap: wrap;
}

[class^=task] {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.task1 {
  background-color: lightcyan;
}

.task2 {
  background-color: lightskyblue;
}

.task3 {
  background-color: blanchedalmond;
}

.task4 {
  background-color: aquamarine;
}

.task5 {
  background-color: antiquewhite;
}

.maintitle {
  background-color: lightgrey;
  text-align: center;
}